In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("D:/Research/madhavii/implementation/survey data.csv")
data.head()

,ID,Area (Ha 1),INITIAL WEIGHT/kg,DENSITY 1 (total stock/Ha),HARVEST NO. 1,AVG WEIGHT 1,PRODUCTION 1,PRODUCTION 1/Ha,DISTANCE/m,VEGETATION%,AVERAGE_DEPTH/ft,PENS,DURATIONMONTHS
0,J002,0.4,0.08,12500,5000.0,0.375,1875,4688,300,60,2,2,5
1,J003,0.4,0.08,10000,3000.0,0.300,900,2250,300,10,6,2,8
2,J004,0.8,0.10,18750,14000.0,0.400,5600,7000,150,60,5,3,8
3,J005,1.0,0.10,10000,9000.0,0.450,4050,4050,200,75,3,1,6
4,J006,0.4,0.08,10000,5000.0,0.350,1750,4375,100,20,3,1,10

In [5]:
print(data.describe())

       Area (Ha 1)  INITIAL WEIGHT/kg  HARVEST NO. 1  AVG WEIGHT 1  \
count    43.000000          43.000000      42.000000     43.000000
mean      1.107907           0.098488   11210.714286      0.425000
std       1.140310           0.036245   14439.493335      0.075198
min       0.400000           0.025000     700.000000      0.300000
25%       0.400000           0.080000    3600.000000      0.350000
50%       0.800000           0.100000    5750.000000      0.450000
75%       1.000000           0.110000   10750.000000      0.450000
max       4.000000           0.200000   65000.000000      0.600000

       PRODUCTION 1  PRODUCTION 1/Ha   DISTANCE/m  VEGETATION%  \
count     43.000000        43.000000    43.000000    43.000000
mean    4483.558140      4322.186047   558.255814    55.000000
std     5238.840458      3087.504565   514.970970    19.970216
min      280.000000       656.000000    50.000000    10.000000
25%     1620.000000      2510.000000   150.000000    50.000000
50%     2520.000000      4050.000000   400.000000    50.000000
75%     4750.000000      4594.000000  1000.000000    67.500000
max    22050.000000     19500.000000  2000.000000   100.000000

       AVERAGE_DEPTH/ft       PENS  DURATIONMONTHS
count         43.000000  43.000000       43.000000
mean           3.046512   1.395349        8.511628
std            1.022450   0.728323        2.529559
min            1.000000   1.000000        4.000000
25%            2.000000   1.000000        6.000000
50%            3.000000   1.000000        8.000000
75%            3.500000   2.000000       10.000000
max            6.000000   4.000000       14.000000

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          43 non-null     object
 1   Area (Ha 1)                 43 non-null     float64
 2   INITIAL WEIGHT/kg           43 non-null     float64
 3   DENSITY 1 (total stock/Ha)  43 non-null     object
 4   HARVEST NO. 1               42 non-null     float64
 5   AVG WEIGHT 1                43 non-null     float64
 6   PRODUCTION 1                43 non-null     int64
 7   PRODUCTION 1/Ha             43 non-null     int64
 8   DISTANCE/m                  43 non-null     int64
 9   VEGETATION%                 43 non-null     int64
 10  AVERAGE_DEPTH/ft            43 non-null     int64
 11  PENS                        43 non-null     int64
 12  DURATIONMONTHS              43 non-null     int64
dtypes: float64(4), int64(7), object(2)
memory usage: 4.5+ KB
None

In [7]:
# Check missing values
print(data.isnull().sum())

ID                            0
Area (Ha 1)                   0
INITIAL WEIGHT/kg             0
DENSITY 1 (total stock/Ha)    0
HARVEST NO. 1                 1
AVG WEIGHT 1                  0
PRODUCTION 1                  0
PRODUCTION 1/Ha               0
DISTANCE/m                    0
VEGETATION%                   0
AVERAGE_DEPTH/ft              0
PENS                          0
DURATIONMONTHS                0
dtype: int64

In [8]:
# Check duplicate rows
print(data.duplicated().sum())

0

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Numerical columns
numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns
data[numerical_cols].hist(figsize=(12, 10), bins=20)
plt.show()

# Categorical columns
categorical_cols = data.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(data[col].value_counts())
    sns.countplot(y=col, data=data)
    plt.show()

ModuleNotFoundError: No module named 'matplotlib.pyplot'

In [ ]:
! conda install matplotlib seaborn